body {
  background-color: #001923;
}

div.title h1 {
	font-size: 45px;
	font-weight: bold;
	color: white;
}

div.comment {
	font-size: 22px;
	color: white;
	opacity: 0.3;
}

table.klystable div.unit {
  font-size: 40px;
  font-weight: bold;
}

table.klystable td {
  /*padding: 0px 8px 8px 8px;*/
  /*line-height: 1.5;*/
  /*white-space: nowrap;*/
  vertical-align: top;
  text-align: center;
}

div.status {
	font-size: 22px;
	line-height: 1.0;
	height: 44px;
	width: 155px;
	text-overflow: ellipsis;
}

.text-deactivated {
  opacity: 0.3;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 3s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 3s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
}

.text-deactivated.text-faulted {
  opacity: .50;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
	animation-name: none;
	-webkit-animation-name: none;
	-moz-animation-name: none;
}

.text-deactivated.text-warn {
  opacity: .40;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
}

.text-deactivated.text-offline {
  opacity: .35;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
}

.text-activated {
	opacity: 1.0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
}

.text-good {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: color;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
	color: #0fbc04;
}

.text-warn {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: color;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  color: #FFD105;
}

@keyframes faultpulse {
  0% {
    color: #FF0000;
  }

  100% {
    color: #CC0000;
  }
}

@-webkit-keyframes faultpulse {
  0% {
    color: #FF0000;
  }

  100% {
    color: #CC0000;
  }
}

@-moz-keyframes faultpulse {
  0% {
    color: #FF0000;
  }

  100% {
    color: #CC0000;
  }
}

.text-faulted {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: color;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  color: #FF0000;
	animation-duration: 1s;
	animation-name: faultpulse;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: faultpulse;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-duration: 1s;
	-moz-animation-name: faultpulse;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: ease-in-out;
}

.text-offline {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: color;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  color: #3a87ad;
}

.no-fault {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  opacity: 0.0;
}

@keyframes errorpulse {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes errorpulse {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1.0;
  }
}

@-moz-keyframes errorpulse {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1.0;
  }
}

.errorpulse {
	animation-duration: 1s;
	animation-name: errorpulse;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: errorpulse;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-duration: 1s;
	-moz-animation-name: errorpulse;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: ease-in-out;
}